{% extends "base.html" %}
{% load i18n %}
{% comment %}Список пользователей: без авторизации, ссылки Изменить/Удалить.{% endcomment %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
<h1 class="page-title">{% trans "Users" %}</h1>

<div class="surface overflow-x-auto">
<table class="data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Created at" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in users %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item }}</td>
                <td>{{ item.date_joined|date:"d.m.Y H:i" }}</td>
                <td>
                    <a class="link-accent" href="{% url 'user_update' item.pk %}">{% trans "Change" %}</a>
                    <br>
                    <a class="link-accent" href="{% url 'user_delete' item.pk %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
