{% extends "base.html" %}
{% comment %}Главная страница: приветствие на GET / (шаг 1). Тексты как в демо.{% endcomment %}

{% block content %}
<div class="card">
    <div class="card-body p-5">
        <h1 class="display-4">Привет от Хекслета!</h1>
        <p class="lead">Практические курсы по программированию</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io" target="_blank" rel="noopener">
            Узнать больше
        </a>
    </div>
</div>
{% endblock %}
